#EventGrid {
    display: flex;
    flex-direction: column;
    background-color: #373737;
    height: 100%;
    padding: 2% 10%;
}

.breadcrumb {
    margin-bottom: 20px;
    color: white;
    font-size: large;
    span {
        color: black;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
}

.grid-item {
    position: relative;
    text-align: center;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow:
        rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.grid-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.slide-down {
    position: absolute;
    border-radius: 10px;
    color: white;
    border: 1px solid white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    bottom: -100%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 200px;
    backdrop-filter: blur(10px);
    padding: 15px;
    animation: slideDown 0.5s ease forwards;
    visibility: hidden;
    opacity: 0;
    transition:
        visibility 0s,
        opacity 0.5s linear;
}

.slide-down-mobile {
    position: absolute;
    border-radius: 10px;
    color: white;
    border: 1px solid white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    bottom: -100%;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    max-width: 200px;
    backdrop-filter: blur(5px);
    padding: 15px;
    animation: slideDown 0s ease forwards;
    visibility: hidden;
}

.grid-item:hover .slide-down {
    visibility: visible;
    opacity: 1;
}

@keyframes slideDown {
    0% {
        bottom: 0%;
    }
    100% {
        bottom: 0;
        margin-bottom: -20px;
    }
}

/* For screens with width between 769px and 1024px */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    #EventGrid {
        padding: 10% 5%;
        .grid-container {
            grid-template-columns: repeat(1, 1fr);
        }

        .slide-down {
            visibility: hidden;
        }

        .slide-down-mobile {
            visibility: visible;
        }
    }
}

/* Medium devices (tablets, 376px to 991px) */
@media (min-width: 376px) and (max-width: 991px) {
    #EventGrid {
        padding: 10% 5%;
        .grid-container {
            grid-template-columns: repeat(1, 1fr);
        }

        .slide-down {
            visibility: hidden;
        }

        .slide-down-mobile {
            visibility: visible;
        }
    }
}

/* Small devices (phones, up to 375px, including iPhone 12 width) */
@media (max-width: 375px) {
    #EventGrid {
        padding: 10% 5%;
        .grid-container {
            grid-template-columns: repeat(1, 1fr);
        }

        .slide-down {
            visibility: hidden;
        }

        .slide-down-mobile {
            visibility: visible;
        }
    }
}
