#Navbar {
  width: 100%;
  background-color: #555555;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  height: 50px;

  .active {
    color: white;
    user-select: none;
    pointer-events: none;
  }

  .Logo {
    width: 250px;
  }

  .LinkContainer {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-style: italic;
    font-weight: 600;

    .SVGContainer {
      img {
        height: 30px;
        &:hover {
          filter: invert(99%) sepia(0%) saturate(7496%) hue-rotate(177deg) brightness(111%) contrast(98%);
        }
      }
    }

    .Navigation {
      font-size: x-large;
    }
  }

  @media (max-width: 900px) {
    .LinkContainer {
      gap: 1.5rem;
      .SVGContainer {
        img {
          height: 30px;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .LinkContainer {
      gap: 1.5rem;
      .SVGContainer {
        img {
          height: 30px;
        }
      }
    }
  }

  @media (max-width: 576px) {
    .Logo {
      width: 200px;
      height: 50px;
    }

    .LinkContainer {
      flex-wrap: wrap;
      gap: 1rem;
    }

    .SVGContainer {
      display: none;
    }
  }

  @media only screen and (device-width: 360px) and (device-height: 740px) and (orientation: portrait) {
    .Logo {
      width: 200px;
      height: 50px;
    }

    .LinkContainer {
      flex-wrap: wrap;
      gap: 0.5rem;
    }

    .SVGContainer {
      display: none;
    }
  }
}
