.semi-circle {
  border-radius: 0rem 100rem 100rem 0rem;
  left: 0;
  position: relative;
}

h1 {
  --s: 20px; /* the size on the corner */
  --t: 2px; /* the thickness of the border */
  --g: 10px; /* the gap between the border and image */

  padding: calc(var(--g) + var(--t));
  outline: var(--t) solid white; /* the color here */
  outline-offset: calc(-1 * var(--t));
  mask: conic-gradient(at var(--s) var(--s), #0000 75%, #000 0) 0 0 /
      calc(100% - var(--s)) calc(100% - var(--s)),
    linear-gradient(#000 0 0) content-box;
  transition: 0.4s;
}

h1:hover {
  outline-offset: calc(var(--g) / -1);
}

.inner {
  box-shadow: inset rgba(0, 0, 0, 0.25) 0px -54px 65px,
    inset rgba(0, 0, 0, 0.12) 0px 15px 40px,
    inset rgba(0, 0, 0, 0.12) 0px -6px 10px,
    inset rgba(0, 0, 0, 0.17) 0px -15px 20px,
    inset rgba(0, 0, 0, 0.09) 0px 5px 8px;
}
